openapi: 3.0.3
info:
  title: API Reference
  description: ""
  version: 1.0.0
servers:
  - url: https://app.outsignal.ai
tags:
  - name: Account Management
    description: >-
      
      This section handles operations related to user accounts within the
      application.

      It includes endpoints for user registration, profile management and
      password reset.
  - name: Campaigns
    description: |-
      
      This section provides endpoints to manage campaign-related operations.
  - name: Replies
    description: >-
      
      This section provides endpoints to manage replies.

      It includes functionalities for retrieving, updating, and managing
      replies.
  - name: Email Accounts
    description: >-
      
      This section provides endpoints to manage email accounts associated with a
      workspace.

      It includes functionalities for listing all email accounts, retrieving
      details of a specific email account,

      creating new IMAP/SMTP email accounts, testing IMAP and SMTP connections,
      and deleting existing email accounts.
  - name: Email Blacklist
    description: |-
      
      APIs for managing blacklisted emails. This includes retrieving, creating,
      bulk creating, and removing blacklisted emails.
  - name: Domain Blacklist
    description: |-
      

      APIs for managing blacklisted domains. This includes retrieving, creating,
      bulk creating, and removing blacklisted domains.
  - name: Custom Tags
    description: >-
      
      APIs for managing tags. This includes creating, retrieving, attaching to
      leads,

      and removing tags from leads.
  - name: Custom Tracking Domains
    description: >-
      
      APIs for managing custom tracking domains. This includes retrieving,
      creating,

      and removing custom tracking domains.
  - name: Webhooks
    description: >-
      
      APIs for managing webhooks. This includes listing, creating, retrieving
      and deleting webhook urls.
  - name: Campaign Events
    description: >-
      
      Drill down into campaign event stats based on dates, campaign IDs, and/or
      sender email IDs
  - name: Campaigns v1.1
    description: |-
      
      This section provides endpoints to manage campaign-related operations.
  - name: Custom Lead Variables
    description: |-
      
      Here you can manage all custom variables created for a given workspace
  - name: Ignore Phrases
    description: |-
      
      APIs for managing ignore phrases. This includes retrieving, creating,
       and removing ignore phrases.
  - name: Leads
    description: >-
      
      This group of endpoints allows for the management of contact (lead)
      information.
  - name: Reply Templates
    description: >-
      
      This section provides endpoints to manage reply templates. You can then
      use these as templated responses

      when sending replies to leads.
  - name: Scheduled Emails
    description: |-
      
      This section provides endpoints to manage scheduled emails.
  - name: Warmup
    description: >-
      
      This section provides endpoints to let you manage your warmup settings for
      email accounts (sender emails)
  - name: Webhook Events
    description: |-
      
      APIs for managing webhook events, sending test events, and viewing samples
  - name: Workspaces v1 (deprecated)
    description: >-
      
      This section provides endpoints to manage workspace-related operations.

      It includes functionalities for creating, updating, and deleting
      workspaces
  - name: Workspaces v1.1
    description: >-
      
      This section provides endpoints to manage workspace-related operations.

      It includes functionalities for creating, updating, and deleting
      workspaces
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: You can retrieve your token by visiting your dashboard and clicking
        <b>Generate API token</b>.
security:
  - default: []
paths:
  /api/users:
    get:
      summary: Account Details
      operationId: accountDetails
      description: >-
        This endpoint retrieves the details of the authenticated user.


        The user must provide a valid authentication token in the request header
        to access this endpoint.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: John Doe
                    email: john@doe.com
                    team:
                      id: 1
                      name: John Doe's Team
                      personal_team: true
                      main: true
                      parent_id: null
                      total_monthly_email_verification_credits: 0
                      remaining_monthly_email_verification_credits: 0
                      remaining_email_verification_credits: 0
                      total_email_verification_credits: 0
                      sender_email_limit: 100000
                      warmup_limit: 100000
                      warmup_filter_phrase: null
                      has_access_to_warmup: false
                      has_access_to_healthcheck: false
                      created_at: 2025-04-14T16:59:21.000000Z
                      updated_at: 2025-05-18T12:53:32.000000Z
                    profile_photo_path: null
                    profile_photo_url: https://ui-avatars.com/api/?name=J&color=7F9CF5&background=EBF4FF
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-05-18T12:53:32.000000Z
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: John Doe
                      email:
                        type: string
                        example: john@doe.com
                      team:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: John Doe's Team
                          personal_team:
                            type: boolean
                            example: true
                          main:
                            type: boolean
                            example: true
                          parent_id:
                            type: string
                            example: null
                          total_monthly_email_verification_credits:
                            type: integer
                            example: 0
                          remaining_monthly_email_verification_credits:
                            type: integer
                            example: 0
                          remaining_email_verification_credits:
                            type: integer
                            example: 0
                          total_email_verification_credits:
                            type: integer
                            example: 0
                          sender_email_limit:
                            type: integer
                            example: 100000
                          warmup_limit:
                            type: integer
                            example: 100000
                          warmup_filter_phrase:
                            type: string
                            example: null
                          has_access_to_warmup:
                            type: boolean
                            example: false
                          has_access_to_healthcheck:
                            type: boolean
                            example: false
                          created_at:
                            type: string
                            example: 2025-04-14T16:59:21.000000Z
                          updated_at:
                            type: string
                            example: 2025-05-18T12:53:32.000000Z
                      profile_photo_path:
                        type: string
                        example: null
                      profile_photo_url:
                        type: string
                        example: https://ui-avatars.com/api/?name=J&color=7F9CF5&background=EBF4FF
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-05-18T12:53:32.000000Z
      tags:
        - Account Management
  /api/users/profile-picture:
    post:
      summary: Update Profile Picture
      operationId: updateProfilePicture
      description: >-
        This endpoint allows the authenticated user to update their profile
        information, specifically their profile picture.


        The user must provide a valid authentication token in the request header
        to access this endpoint.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: John Doe
                    email: john@doe.com
                    team:
                      id: 1
                      name: John Doe's Team
                      personal_team: true
                      main: true
                      parent_id: null
                      total_monthly_email_verification_credits: 0
                      remaining_monthly_email_verification_credits: 0
                      remaining_email_verification_credits: 0
                      total_email_verification_credits: 0
                      sender_email_limit: 100000
                      warmup_limit: 100000
                      warmup_filter_phrase: null
                      has_access_to_warmup: false
                      has_access_to_healthcheck: false
                      created_at: 2025-04-14T16:59:21.000000Z
                      updated_at: 2025-05-18T12:53:32.000000Z
                    profile_photo_path: https://emailbison.s3.amazonaws.com/v2/images/1/f24c3135-9f3a-46f5-ac1c-139271a72cd9.jpg
                    profile_photo_url: https://ui-avatars.com/api/?name=J&color=7F9CF5&background=EBF4FF
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-05-18T12:53:32.000000Z
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: John Doe
                      email:
                        type: string
                        example: john@doe.com
                      team:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: John Doe's Team
                          personal_team:
                            type: boolean
                            example: true
                          main:
                            type: boolean
                            example: true
                          parent_id:
                            type: string
                            example: null
                          total_monthly_email_verification_credits:
                            type: integer
                            example: 0
                          remaining_monthly_email_verification_credits:
                            type: integer
                            example: 0
                          remaining_email_verification_credits:
                            type: integer
                            example: 0
                          total_email_verification_credits:
                            type: integer
                            example: 0
                          sender_email_limit:
                            type: integer
                            example: 100000
                          warmup_limit:
                            type: integer
                            example: 100000
                          warmup_filter_phrase:
                            type: string
                            example: null
                          has_access_to_warmup:
                            type: boolean
                            example: false
                          has_access_to_healthcheck:
                            type: boolean
                            example: false
                          created_at:
                            type: string
                            example: 2025-04-14T16:59:21.000000Z
                          updated_at:
                            type: string
                            example: 2025-05-18T12:53:32.000000Z
                      profile_photo_path:
                        type: string
                        example: https://emailbison.s3.amazonaws.com/v2/images/1/f24c3135-9f3a-46f5-ac1c-139271a72cd9.jpg
                      profile_photo_url:
                        type: string
                        example: https://ui-avatars.com/api/?name=J&color=7F9CF5&background=EBF4FF
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-05-18T12:53:32.000000Z
      tags:
        - Account Management
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  format: binary
                  description: The new profile picture to update. Must be a valid image file (jpg,
                    jpeg or png) and no larger than 1MB.
                  nullable: false
              required:
                - photo
  /api/users/password:
    put:
      summary: Update Password
      operationId: updatePassword
      description: >-
        This endpoint allows the authenticated user to update their password.


        The user must provide a valid authentication token in the request header
        to access this endpoint.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                    message: Successfully updated your profile password
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Successfully updated your profile password
      tags:
        - Account Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: Your current password.
                  example: password
                  nullable: false
                password:
                  type: string
                  description: Your new password.
                  example: new-password
                  nullable: false
                password_confirmation:
                  type: string
                  description: Your new password repeated.
                  example: new-password
                  nullable: false
              required:
                - current_password
                - password
                - password_confirmation
  /api/users/headless-ui-token:
    post:
      summary: Generate headless UI token (beta)
      operationId: generateHeadlessUITokenbeta
      description: |-
        This endpoint allows the authenticated workspace user to generate a headless UI token that's valid
        for up to **120 minutes**. The main purpose of this token is to let partner apps generate an embedded email
        account connection view without having to build all the UIs and OAuth connection flows themselves.

        Multiple tokens can be active at a given time, but they will all expire after **120 minutes**.

        `Note:` You must get your requesting URL whitelisted before embedding the iframe in
        your app.

        The user must provide a valid authentication token in the request header to access this endpoint.

        Once a token is generated, you can open an Iframe with the following URL format: https://your-bison-url.com/headless-ui-login?token=YOUR_HEADLESS_UI_TOKEN

        This will then open an app window without the navigation bar and breadcrumbs. For now, this is only recommended
        for enabling email account connection flows for OAuth.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                     "data": {
                         "token": "headless_ui_token_rtG42rhsFhHq8rySjjaWh8RnaA",
                     }
                  }
      tags:
        - Account Management
  /api/campaigns:
    get:
      summary: List campaigns
      operationId: listCampaigns
      description: |-
        This endpoint retrieves all of the authenticated user's campaigns.

        Search, tags, and status are all optional parameters.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "data": [
                        {
                            "id": 1,
                            "uuid": "9h8ef374-e986-4221-b432-2902b4826r83",
                            "name": "John Doe Campaign",
                            "type": "outbound",
                            "status": "Active",
                            "emails_sent": 7,
                            "opened": 2,
                            "unique_opens": 1,
                            "replied": 2,
                            "unique_replies": 1,
                            "bounced": 1,
                            "unsubscribed": 2,
                            "interested": 3,
                            "total_leads_contacted": 7,
                            "max_emails_per_day": 7,
                            "max_new_leads_per_day": 2,
                            "plain_text": true,
                            "open_tracking": false,
                            "sequence_prioritization": new_leads,
                            "total_leads": 4,
                            "can_unsubscribe": true,
                            "unsubscribe_text": "Unsubscribe here",
                            "created_at": "2025-04-14T16:59:21.000000Z",
                            "updated_at": "2025-05-18T12:53:32.000000Z",
                            "tags": [
                                 {
                                     "id": 1,
                                     "name": "VIP",
                                     "default": false
                                 }
                            ]
                        },
                        {
                            "id": 2,
                            "uuid": "8be8h930-b391-9381-c328-2902b4826r83",
                            "name": "Jane Doe Campaign",
                            "type": "outbound",
                            "status": "Launching",
                            "completion_percentage": 45.23,
                            "emails_sent": 5,
                            "opened": 1,
                            "unique_opens": 1,
                            "replied": 1,
                            "unique_replies": 1,
                            "bounced": 2,
                            "unsubscribed": 1,
                            "interested": 0,
                            "total_leads_contacted": 5,
                            "max_emails_per_day": 7,
                            "max_new_leads_per_day": 2,
                            "plain_text": true,
                            "open_tracking": false,
                            "sequence_prioritization": new_leads,
                            "total_leads": 6,
                            "can_unsubscribe": true,
                            "unsubscribe_text": "Unsubscribe here",
                            "created_at": "2025-04-14T16:59:21.000000Z",
                            "updated_at": "2025-05-18T12:53:32.000000Z",
                            "tags": [
                                  {
                                      "id": 1,
                                      "name": "VIP",
                                      "default": false
                                  }
                             ]
                        }
                     ]
                  }
      tags:
        - Campaigns
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                  description: ""
                  example: null
                  nullable: true
                status:
                  type: string
                  description: ""
                  example: queued
                  nullable: true
                  enum:
                    - draft
                    - launching
                    - active
                    - stopped
                    - completed
                    - paused
                    - failed
                    - queued
                    - archived
                    - pending deletion
                    - deleted
                tag_ids:
                  type: array
                  description: The <code>id</code> of an existing record in the tags table.
                  example:
                    - 3
                  items:
                    type: integer
    post:
      summary: Create a campaign
      operationId: createACampaign
      description: This endpoint allows the authenticated user to create a new campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    uuid: 9h8ef374-e986-4221-b432-2902b4826r83
                    name: John Doe Campaign
                    type: outbound
                    status: Active
                    emails_sent: 7
                    opened: 2
                    unique_opens: 1
                    replied: 2
                    unique_replies: 1
                    bounced: 1
                    unsubscribed: 2
                    interested: 3
                    total_leads_contacted: 7
                    total_leads: 10
                    max_emails_per_day: 7
                    max_new_leads_per_day: 2
                    plain_text: true
                    open_tracking: false
                    can_unsubscribe: true
                    unsubscribe_text: Unsubscribe here
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-05-18T12:53:32.000000Z
                    tags:
                      - id: 1
                        name: VIP
                        default: false
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      uuid:
                        type: string
                        example: 9h8ef374-e986-4221-b432-2902b4826r83
                      name:
                        type: string
                        example: John Doe Campaign
                      type:
                        type: string
                        example: outbound
                      status:
                        type: string
                        example: Active
                      emails_sent:
                        type: integer
                        example: 7
                      opened:
                        type: integer
                        example: 2
                      unique_opens:
                        type: integer
                        example: 1
                      replied:
                        type: integer
                        example: 2
                      unique_replies:
                        type: integer
                        example: 1
                      bounced:
                        type: integer
                        example: 1
                      unsubscribed:
                        type: integer
                        example: 2
                      interested:
                        type: integer
                        example: 3
                      total_leads_contacted:
                        type: integer
                        example: 7
                      total_leads:
                        type: integer
                        example: 10
                      max_emails_per_day:
                        type: integer
                        example: 7
                      max_new_leads_per_day:
                        type: integer
                        example: 2
                      plain_text:
                        type: boolean
                        example: true
                      open_tracking:
                        type: boolean
                        example: false
                      can_unsubscribe:
                        type: boolean
                        example: true
                      unsubscribe_text:
                        type: string
                        example: Unsubscribe here
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-05-18T12:53:32.000000Z
                      tags:
                        type: array
                        example:
                          - id: 1
                            name: VIP
                            default: false
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: VIP
                            default:
                              type: boolean
                              example: false
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the new campaign.
                  example: New Campaign
                  nullable: false
                type:
                  type: string
                  description: optional The type of campaign. Default is `outbound`
                  example: outbound
                  nullable: false
                  enum:
                    - "`outbound`"
                    - "`reply_followup`"
              required:
                - name
  /api/campaigns/{campaign_id}/duplicate:
    post:
      summary: Duplicate campaign
      operationId: duplicateCampaign
      description: This endpoint allows the authenticated user to duplicate a campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                      "data": {
                         "id": 2,
                         "uuid": "8ek43kk4-e986-4423-b432-2902b4825f98",
                         "name": "Copy of John Doe Campaign",
                         "type": "outbound",
                         "status": "Draft",
                         "emails_sent": 7,
                         "opened": 2,
                         "unique_opens": 1,
                         "replied": 2,
                         "unique_replies": 1,
                         "bounced": 1,
                         "unsubscribed": 2,
                         "interested": 3,
                         "total_leads_contacted": 7,
                         "total_leads": 10,
                         "max_emails_per_day": 7
                         "max_new_leads_per_day": 2
                         "plain_text": true
                         "open_tracking": false
                         "sequence_prioritization": new_leads,
                         "can_unsubscribe": true
                         "unsubscribe_text": "Unsubscribe here",
                         "tags": [
                              {
                                  "id": 1,
                                  "name": "VIP",
                                  "default": false
                              }
                         ]
                      }
                   }
      tags:
        - Campaigns
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 9
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/pause:
    patch:
      summary: Pause campaign
      operationId: pauseCampaign
      description: This endpoint allows the authenticated user to pause a campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                      "data": {
                         "id": 1,
                         "uuid": "9h8ef374-e986-4221-b432-2902b4826r83",
                         "name": "John Doe Campaign",
                         "type": "outbound",
                         "status": "Paused",
                         "emails_sent": 7,
                         "opened": 2,
                         "unique_opens": 1,
                         "replied": 2,
                         "unique_replies": 1,
                         "bounced": 1,
                         "unsubscribed": 2,
                         "interested": 3,
                         "total_leads_contacted": 7,
                         "total_leads": 10,
                         "max_emails_per_day": 7,
                         "max_new_leads_per_day": 2,
                         "plain_text": true,
                         "open_tracking": false,
                         "sequence_prioritization": new_leads,
                         "can_unsubscribe": true,
                         "unsubscribe_text": "Unsubscribe here",
                         "created_at": "2025-04-14T16:59:21.000000Z",
                         "updated_at": "2025-05-18T12:53:32.000000Z",
                         "tags": [
                              {
                                  "id": 1,
                                  "name": "VIP",
                                  "default": false
                              }
                         ]
                      }
                   }
      tags:
        - Campaigns
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 2
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/resume:
    patch:
      summary: Resume campaign
      operationId: resumeCampaign
      description: This endpoint allows the authenticated user to resume a paused campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                      "data": {
                         "id": 1,
                         "uuid": "9h8ef374-e986-4221-b432-2902b4826r83",
                         "name": "John Doe Campaign",
                         "type": "outbound",
                         "status": "Queued",
                         "emails_sent": 7,
                         "opened": 2,
                         "unique_opens": 1,
                         "replied": 2,
                         "unique_replies": 1,
                         "bounced": 1,
                         "unsubscribed": 2,
                         "interested": 3,
                         "total_leads_contacted": 7,
                         "total_leads": 10,
                         "max_emails_per_day": 7,
                         "max_new_leads_per_day": 2,
                         "plain_text": true,
                         "open_tracking": false,
                         "sequence_prioritization": new_leads,
                         "can_unsubscribe": true,
                         "unsubscribe_text": "Unsubscribe here",
                         "created_at": "2025-04-14T16:59:21.000000Z",
                         "updated_at": "2025-05-18T12:53:32.000000Z",
                         "tags": [
                              {
                                  "id": 1,
                                  "name": "VIP",
                                  "default": false
                              }
                         ]
                      }
                   }
      tags:
        - Campaigns
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 7
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/archive:
    patch:
      summary: Archive campaign
      operationId: archiveCampaign
      description: This endpoint allows the authenticated user to archive a campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                      "data": {
                         "id": 1,
                         "uuid": "9h8ef374-e986-4221-b432-2902b4826r83",
                         "name": "John Doe Campaign",
                         "type": "outbound",
                         "status": "Archived",
                         "emails_sent": 7,
                         "opened": 2,
                         "unique_opens": 1,
                         "replied": 2,
                         "unique_replies": 1,
                         "bounced": 1,
                         "unsubscribed": 2,
                         "interested": 3,
                         "total_leads_contacted": 7,
                         "total_leads": 10,
                         "max_emails_per_day": 7,
                         "max_new_leads_per_day": 2,
                         "plain_text": true,
                         "open_tracking": false,
                         "sequence_prioritization": new_leads,
                         "can_unsubscribe": true,
                         "unsubscribe_text": "Unsubscribe here",
                         "created_at": "2025-04-14T16:59:21.000000Z",
                         "updated_at": "2025-05-18T12:53:32.000000Z",
                         "tags": [
                              {
                                  "id": 1,
                                  "name": "VIP",
                                  "default": false
                              }
                         ]
                      }
                   }
      tags:
        - Campaigns
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 14
        required: true
        schema:
          type: integer
  /api/campaigns/{id}/update:
    patch:
      summary: Update campaign settings
      operationId: updateCampaignSettings
      description: This endpoint allows the authenticated user to update the settings
        of a campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                      "data": {
                         "id": 1,
                         "uuid": "9h8ef374-e986-4221-b432-2902b4826r83",
                         "name": "John Doe Campaign",
                         "type": "outbound",
                         "status": "Active",
                         "emails_sent": 7,
                         "opened": 2,
                         "unique_opens": 1,
                         "replied": 2,
                         "unique_replies": 1,
                         "bounced": 1,
                         "unsubscribed": 2,
                         "interested": 3,
                         "total_leads_contacted": 7,
                         "total_leads": 10,
                         "max_emails_per_day": 7,
                         "max_new_leads_per_day": 2,
                         "plain_text": true,
                         "open_tracking": false,
                         "sequence_prioritization": new_leads,
                         "can_unsubscribe": true,
                         "unsubscribe_text": "Unsubscribe here",
                         "created_at": "2025-04-14T16:59:21.000000Z",
                         "updated_at": "2025-05-18T12:53:32.000000Z",
                         "tags": [
                              {
                                  "id": 1,
                                  "name": "VIP",
                                  "default": false
                              }
                         ]
                      }
                   }
      tags:
        - Campaigns
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the campaign.
                  example: New Campaign Name
                  nullable: true
                max_emails_per_day:
                  type: integer
                  description: The maximum number of emails that can be sent per day.
                  example: 500
                  nullable: true
                max_new_leads_per_day:
                  type: integer
                  description: The maximum number of new leads that can be added per day.
                  example: 100
                  nullable: true
                plain_text:
                  type: boolean
                  description: Whether the email content should be plain text. If nothing sent,
                    false is assumed.
                  example: true
                  nullable: true
                open_tracking:
                  type: boolean
                  description: Whether open tracking should be enabled for the campaign. If
                    nothing sent, false is assumed.
                  example: true
                  nullable: true
                reputation_building:
                  type: boolean
                  description: Spam protection. If nothing sent, false is assumed.
                  example: true
                  nullable: true
                can_unsubscribe:
                  type: boolean
                  description: Whether recipients can unsubscribe from the campaign using a
                    one-click link. If nothing sent, false is assumed.
                  example: true
                  nullable: true
                include_auto_replies_in_stats:
                  type: boolean
                  description: If auto replies should be included in the campaign stats. This
                    setting is not retroactive.
                  example: false
                  nullable: true
                sequence_prioritization:
                  type: string
                  description: How the campaign sequence should be prioritized. By default,
                    followups are prioritized.
                  example: new_leads
                  nullable: false
                  enum:
                    - followups
                    - new_leads
    parameters:
      - in: path
        name: id
        description: The ID of the campaign.
        example: 13
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/schedule:
    post:
      summary: Create campaign schedule
      operationId: createCampaignSchedule
      description: This endpoint allows the authenticated user to create the schedule
        of the campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    type: Generated
                    monday: true
                    tuesday: true
                    wednesday: true
                    thursday: true
                    friday: true
                    saturday: false
                    sunday: false
                    start_time: 08:00
                    end_time: 17:00
                    timezone: America/New_York
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-04-14T16:59:21.000000Z
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      type:
                        type: string
                        example: Generated
                      monday:
                        type: boolean
                        example: true
                      tuesday:
                        type: boolean
                        example: true
                      wednesday:
                        type: boolean
                        example: true
                      thursday:
                        type: boolean
                        example: true
                      friday:
                        type: boolean
                        example: true
                      saturday:
                        type: boolean
                        example: false
                      sunday:
                        type: boolean
                        example: false
                      start_time:
                        type: string
                        example: 08:00
                      end_time:
                        type: string
                        example: 17:00
                      timezone:
                        type: string
                        example: America/New_York
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                monday:
                  type: boolean
                  description: Whether the schedule includes Monday.
                  example: true
                  nullable: false
                tuesday:
                  type: boolean
                  description: Whether the schedule includes Tuesday.
                  example: true
                  nullable: false
                wednesday:
                  type: boolean
                  description: Whether the schedule includes Wednesday.
                  example: true
                  nullable: false
                thursday:
                  type: boolean
                  description: Whether the schedule includes Thursday.
                  example: true
                  nullable: false
                friday:
                  type: boolean
                  description: Whether the schedule includes Friday.
                  example: true
                  nullable: false
                saturday:
                  type: boolean
                  description: Whether the schedule includes Saturday.
                  example: false
                  nullable: false
                sunday:
                  type: boolean
                  description: Whether the schedule includes Sunday.
                  example: false
                  nullable: false
                start_time:
                  type: string
                  description: The start time in HH:MM format.
                  example: 09:00
                  nullable: false
                end_time:
                  type: string
                  description: The end time in HH:MM format.
                  example: 17:00
                  nullable: false
                timezone:
                  type: string
                  description: The timezone of the schedule.
                  example: America/New_York
                  nullable: false
                save_as_template:
                  type: boolean
                  description: Wheter the created schedule should be saved as template.
                  example: false
                  nullable: false
              required:
                - monday
                - tuesday
                - wednesday
                - thursday
                - friday
                - saturday
                - sunday
                - start_time
                - end_time
                - timezone
    get:
      summary: View campaign schedule
      operationId: viewCampaignSchedule
      description: This endpoint allows the authenticated user to view the schedule of
        the campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    type: Generated
                    monday: true
                    tuesday: true
                    wednesday: true
                    thursday: true
                    friday: true
                    saturday: false
                    sunday: false
                    start_time: 08:00
                    end_time: 17:00
                    timezone: America/New_York
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-05-18T12:53:32.000000Z
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      type:
                        type: string
                        example: Generated
                      monday:
                        type: boolean
                        example: true
                      tuesday:
                        type: boolean
                        example: true
                      wednesday:
                        type: boolean
                        example: true
                      thursday:
                        type: boolean
                        example: true
                      friday:
                        type: boolean
                        example: true
                      saturday:
                        type: boolean
                        example: false
                      sunday:
                        type: boolean
                        example: false
                      start_time:
                        type: string
                        example: 08:00
                      end_time:
                        type: string
                        example: 17:00
                      timezone:
                        type: string
                        example: America/New_York
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-05-18T12:53:32.000000Z
      tags:
        - Campaigns
    put:
      summary: Update campaign schedule
      operationId: updateCampaignSchedule
      description: This endpoint allows the authenticated user to update the schedule
        of the campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    type: Generated
                    monday: true
                    tuesday: true
                    wednesday: true
                    thursday: true
                    friday: true
                    saturday: false
                    sunday: false
                    start_time: 08:00
                    end_time: 17:00
                    timezone: America/New_York
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-05-18T12:53:32.000000Z
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      type:
                        type: string
                        example: Generated
                      monday:
                        type: boolean
                        example: true
                      tuesday:
                        type: boolean
                        example: true
                      wednesday:
                        type: boolean
                        example: true
                      thursday:
                        type: boolean
                        example: true
                      friday:
                        type: boolean
                        example: true
                      saturday:
                        type: boolean
                        example: false
                      sunday:
                        type: boolean
                        example: false
                      start_time:
                        type: string
                        example: 08:00
                      end_time:
                        type: string
                        example: 17:00
                      timezone:
                        type: string
                        example: America/New_York
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-05-18T12:53:32.000000Z
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                monday:
                  type: boolean
                  description: Whether the schedule includes Monday.
                  example: true
                  nullable: false
                tuesday:
                  type: boolean
                  description: Whether the schedule includes Tuesday.
                  example: true
                  nullable: false
                wednesday:
                  type: boolean
                  description: Whether the schedule includes Wednesday.
                  example: true
                  nullable: false
                thursday:
                  type: boolean
                  description: Whether the schedule includes Thursday.
                  example: true
                  nullable: false
                friday:
                  type: boolean
                  description: Whether the schedule includes Friday.
                  example: true
                  nullable: false
                saturday:
                  type: boolean
                  description: Whether the schedule includes Saturday.
                  example: false
                  nullable: false
                sunday:
                  type: boolean
                  description: Whether the schedule includes Sunday.
                  example: false
                  nullable: false
                start_time:
                  type: string
                  description: The start time in HH:MM format.
                  example: 09:00
                  nullable: false
                end_time:
                  type: string
                  description: The end time in HH:MM format.
                  example: 17:00
                  nullable: false
                timezone:
                  type: string
                  description: The timezone of the schedule.
                  example: America/New_York
                  nullable: false
                save_as_template:
                  type: boolean
                  description: ""
                  example: false
                  nullable: false
              required:
                - monday
                - tuesday
                - wednesday
                - thursday
                - friday
                - saturday
                - sunday
                - start_time
                - end_time
                - timezone
                - save_as_template
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 2
        required: true
        schema:
          type: integer
  /api/campaigns/schedule/templates:
    get:
      summary: View all schedule templates
      operationId: viewAllScheduleTemplates
      description: This endpoint allows the authenticated user to view their scheduled
        templates.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - id: 1
                      type: Schedule template
                      monday: true
                      tuesday: true
                      wednesday: true
                      thursday: true
                      friday: true
                      saturday: false
                      sunday: false
                      start_time: 08:00
                      end_time: 17:00
                      timezone: America/New_York
                      created_at: 2025-04-14T16:59:21.000000Z
                      updated_at: 2025-05-18T12:53:32.000000Z
                    - id: 2
                      type: Schedule template
                      monday: true
                      tuesday: true
                      wednesday: true
                      thursday: true
                      friday: true
                      saturday: false
                      sunday: false
                      start_time: 08:00
                      end_time: 17:00
                      timezone: America/New_York
                      created_at: 2025-04-15T16:59:21.000000Z
                      updated_at: 2025-05-19T12:53:32.000000Z
                properties:
                  data:
                    type: array
                    example:
                      - id: 1
                        type: Schedule template
                        monday: true
                        tuesday: true
                        wednesday: true
                        thursday: true
                        friday: true
                        saturday: false
                        sunday: false
                        start_time: 08:00
                        end_time: 17:00
                        timezone: America/New_York
                        created_at: 2025-04-14T16:59:21.000000Z
                        updated_at: 2025-05-18T12:53:32.000000Z
                      - id: 2
                        type: Schedule template
                        monday: true
                        tuesday: true
                        wednesday: true
                        thursday: true
                        friday: true
                        saturday: false
                        sunday: false
                        start_time: 08:00
                        end_time: 17:00
                        timezone: America/New_York
                        created_at: 2025-04-15T16:59:21.000000Z
                        updated_at: 2025-05-19T12:53:32.000000Z
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        type:
                          type: string
                          example: Schedule template
                        monday:
                          type: boolean
                          example: true
                        tuesday:
                          type: boolean
                          example: true
                        wednesday:
                          type: boolean
                          example: true
                        thursday:
                          type: boolean
                          example: true
                        friday:
                          type: boolean
                          example: true
                        saturday:
                          type: boolean
                          example: false
                        sunday:
                          type: boolean
                          example: false
                        start_time:
                          type: string
                          example: 08:00
                        end_time:
                          type: string
                          example: 17:00
                        timezone:
                          type: string
                          example: America/New_York
                        created_at:
                          type: string
                          example: 2025-04-14T16:59:21.000000Z
                        updated_at:
                          type: string
                          example: 2025-05-18T12:53:32.000000Z
      tags:
        - Campaigns
  /api/campaigns/schedule/available-timezones:
    get:
      summary: View all available schedule timezones
      operationId: viewAllAvailableScheduleTimezones
      description: >-
        This endpoint allows the authenticated user to view all available
        timezones.

        You must use an ID from this list whenever you're working on Campaign
        Schedules
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    - name: (GMT-12:00) International Date Line West
                      id: Pacific/Kwajalein
                    - name: (GMT-11:00) Midway Island
                      id: Pacific/Midway
                    - name: (GMT-11:00) Samoa
                      id: Pacific/Apia
                properties:
                  data:
                    type: array
                    example:
                      - name: (GMT-12:00) International Date Line West
                        id: Pacific/Kwajalein
                      - name: (GMT-11:00) Midway Island
                        id: Pacific/Midway
                      - name: (GMT-11:00) Samoa
                        id: Pacific/Apia
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: (GMT-12:00) International Date Line West
                        id:
                          type: string
                          example: Pacific/Kwajalein
      tags:
        - Campaigns
  /api/campaigns/sending-schedules:
    get:
      summary: Show sending schedules for campaigns
      operationId: showSendingSchedulesForCampaigns
      description: This endpoint allows the authenticated user to view the sending
        schedules for campaigns
      parameters: []
      responses:
        "200":
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                     "data": [
                         {
                             "emails_being_sent": 763,
                             "campaign_id": 60,
                             "campaign": {
                                 "id": 60,
                                 "uuid": "9eb10d82-aef8-490a-9293-5ec3c9435d8e",
                                 "name": "Red's campaign",
                                 "type": "outbound",
                                 "status": 2,
                                 "plain_text": false,
                                 "open_tracking": true,
                                 "sequence_prioritization": new_leads,
                                 "reputation_building": 0,
                                 "emails_sent": 0,
                                 "opened": 0,
                                 "replied": 0,
                                 "bounced": 0,
                                 "unique_replies": 0,
                                 "unique_opens": 0,
                                 "total_leads_contacted": 0,
                                 "unsubscribed": 0,
                                 "interested": 0,
                                 "max_emails_per_day": 1000,
                                 "max_new_leads_per_day": 1000,
                                 "can_unsubscribe": false,
                                 "unsubscribe_text": null,
                                 "deleted_at": null,
                                 "created_at": "2025-04-16T19:45:30.000000Z",
                                 "updated_at": "2025-04-16T19:46:27.000000Z",
                                 "leads_status": 0,
                                 "total_leads": 1
                             }
                         },
                         {
                             "emails_being_sent": 201,
                             "campaign_id": 62,
                             "campaign": {
                                 "id": 62,
                                 "uuid": "9eb10d82-aef8-490a-9293-5ec3c9435d8e",
                                 "name": "Blue's campaign",
                                 "type": "outbound",
                                 "status": 2,
                                 "plain_text": false,
                                 "open_tracking": true,
                                 "sequence_prioritization": new_leads,
                                 "reputation_building": 0,
                                 "emails_sent": 0,
                                 "opened": 0,
                                 "replied": 0,
                                 "bounced": 0,
                                 "unique_replies": 0,
                                 "unique_opens": 0,
                                 "total_leads_contacted": 0,
                                 "unsubscribed": 0,
                                 "interested": 0,
                                 "max_emails_per_day": 1000,
                                 "max_new_leads_per_day": 1000,
                                 "can_unsubscribe": false,
                                 "unsubscribe_text": null,
                                 "deleted_at": null,
                                 "created_at": "2025-04-16T19:45:30.000000Z",
                                 "updated_at": "2025-04-16T19:46:27.000000Z",
                                 "leads_status": 0,
                                 "total_leads": 1
                             }
                         },
                     ]
                  }
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                day:
                  type: string
                  description: The day of the schedule.
                  example: tomorrow
                  nullable: false
                  enum:
                    - today
                    - tomorrow
                    - day_after_tomorrow
              required:
                - day
  /api/campaigns/{campaign_id}/sending-schedule:
    get:
      summary: Show sending schedule for campaign
      operationId: showSendingScheduleForCampaign
      description: This endpoint allows the authenticated user to view the sending
        schedule of a single campaign
      parameters: []
      responses:
        "200":
          description: ""
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                     "data":
                         {
                             "emails_being_sent": 763,
                             "campaign_id": 60,
                             "campaign": {
                                 "id": 60,
                                 "uuid": "9eb10d82-aef8-490a-9293-5ec3c9435d8e",
                                 "name": "Red's campaign",
                                 "type": "outbound",
                                 "status": 2,
                                 "plain_text": false,
                                 "open_tracking": true,
                                 "sequence_prioritization": new_leads,
                                 "reputation_building": 0,
                                 "emails_sent": 0,
                                 "opened": 0,
                                 "replied": 0,
                                 "bounced": 0,
                                 "unique_replies": 0,
                                 "unique_opens": 0,
                                 "total_leads_contacted": 0,
                                 "unsubscribed": 0,
                                 "interested": 0,
                                 "max_emails_per_day": 1000,
                                 "max_new_leads_per_day": 1000,
                                 "can_unsubscribe": false,
                                 "unsubscribe_text": null,
                                 "deleted_at": null,
                                 "created_at": "2025-04-16T19:45:30.000000Z",
                                 "updated_at": "2025-04-16T19:46:27.000000Z",
                                 "leads_status": 0,
                                 "total_leads": 1
                         }
                     }
                  }
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                day:
                  type: string
                  description: The day of the schedule.
                  example: tomorrow
                  nullable: false
                  enum:
                    - today
                    - tomorrow
                    - day_after_tomorrow
              required:
                - day
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 1
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/create-schedule-from-template:
    post:
      summary: Create campaign schedule from template
      operationId: createCampaignScheduleFromTemplate
      description: This endpoint allows the authenticated user to create the schedule
        of the campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    type: Generated
                    monday: true
                    tuesday: true
                    wednesday: true
                    thursday: true
                    friday: true
                    saturday: false
                    sunday: false
                    start_time: 08:00
                    end_time: 17:00
                    timezone: America/New_York
                    created_at: 2025-04-14T16:59:21.000000Z
                    updated_at: 2025-05-18T12:53:32.000000Z
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      type:
                        type: string
                        example: Generated
                      monday:
                        type: boolean
                        example: true
                      tuesday:
                        type: boolean
                        example: true
                      wednesday:
                        type: boolean
                        example: true
                      thursday:
                        type: boolean
                        example: true
                      friday:
                        type: boolean
                        example: true
                      saturday:
                        type: boolean
                        example: false
                      sunday:
                        type: boolean
                        example: false
                      start_time:
                        type: string
                        example: 08:00
                      end_time:
                        type: string
                        example: 17:00
                      timezone:
                        type: string
                        example: America/New_York
                      created_at:
                        type: string
                        example: 2025-04-14T16:59:21.000000Z
                      updated_at:
                        type: string
                        example: 2025-05-18T12:53:32.000000Z
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                schedule_id:
                  type: integer
                  description: The ID of the schedule template.
                  example: 1
                  nullable: false
              required:
                - schedule_id
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 15
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/sequence-steps:
    get:
      summary: View campaign sequence steps (deprecated)
      operationId: viewCampaignSequenceStepsdeprecated
      description: This endpoint allows the authenticated user to view the sequence
        steps of the campaign.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                     "data": [
                         {
                         "email_subject": "Step 1",
                         "order": "1",
                         "email_body": "Step 1 body",
                         "wait_in_days": "1",
                         "variant": false,
                         "variant_from_step": null,
                         "attachments": [],
                         "thread_reply": false,
                         "created_at": "2025-04-14T16:59:21.000000Z",
                         "updated_at": "2025-05-18T12:53:32.000000Z"
                         },
                         {
                         "email_subject": "Step 2",
                         "order": "1",
                         "email_body": "Step 2 body",
                         "wait_in_days": "2",
                         "variant": true,
                         "variant_from_step": null,
                         "attachments": [],
                         "thread_reply": true,
                         "created_at": "2025-04-14T16:59:21.000000Z",
                         "updated_at": "2025-05-18T12:53:32.000000Z"
                         }
                     ]
      tags:
        - Campaigns
    post:
      summary: Create sequence steps (deprecated)
      operationId: createSequenceStepsdeprecated
      description: This endpoint allows the authenticated user to create the campaign
        sequence steps from scratch.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "data": {
                        "id": 1,
                        "type": "Campaign sequence",
                        "title": "John Doe sequence",
                        "sequence_steps": [
                            {
                                "id": 1,
                                "email_subject": "Hello there! {FIRST_NAME}",
                                "order": 1,
                                "email_body": "Try it now!",
                                "wait_in_days": 1,
                                "variant": false,
                                "variant_from_step": null,
                                "attachments": null,
                                "thread_reply": false,
                                "created_at": "2025-04-14T16:59:21.000000Z",
                                "updated_at": "2025-05-18T12:53:32.000000Z"
                            },
                            {
                                "id": 2,
                                "email_subject": "Re: Hello there!",
                                "order": 2,
                                "email_body": "Try it now!",
                                "wait_in_days": 1,
                                "variant": true,
                                "variant_from_step": 1,
                                "attachments": null,
                                "thread_reply": true,
                                "created_at": "2025-04-14T16:59:21.000000Z",
                                "updated_at": "2025-05-18T12:53:32.000000Z"
                            }
                        ],
                     }
                  }
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title for the sequence.
                  example: John Doe sequence
                  nullable: false
                sequence_steps:
                  type: array
                  description: The array containing the sequence steps
                  example:
                    - email_subject: Hello there!
                      email_subject_variables:
                        - "{FIRST_NAME}"
                      order: 1
                      email_body: Try it now!
                      wait_in_days: 1
                      variant: false
                      thread_reply: false
                    - email_subject: Reaching you again
                      order: 2
                      email_body: Try it now!
                      wait_in_days: 1
                      variant: true
                      variant_from_step: 1
                      thread_reply: true
                  items:
                    type: object
                    properties:
                      email_subject:
                        type: string
                        description: The subject for the email.
                        example: Hello there!
                        nullable: false
                      email_subject_variables:
                        type: array
                        description: The subject variables.
                        example: null
                        items:
                          type: string
                          nullable: true
                      order:
                        type: integer
                        description: The order of the step.
                        example: 1
                        nullable: true
                      email_body:
                        type: string
                        description: The body of the email.
                        example: Try it now!
                        nullable: false
                      wait_in_days:
                        type: integer
                        description: The days to wait.
                        example: 1
                        nullable: false
                      variant:
                        type: boolean
                        description: Wheter the step is variant of another step.
                        example: true
                        nullable: true
                      variant_from_step:
                        type: integer
                        description: The order number of a step in the current request to be a variant
                          of. Cannot be used with variant_from_step_id.
                        example: 1
                        nullable: true
                      variant_from_step_id:
                        type: integer
                        description: The ID of an already saved step to be a variant of. Cannot be used
                          with variant_from_step.
                        example: 42
                        nullable: true
                      attachments:
                        type: string
                        format: binary
                        description: The email attachments.
                        nullable: true
                      thread_reply:
                        type: boolean
                        description: Wheter the step should be a reply from the previous step.
                        example: false
                        nullable: true
                    required:
                      - email_subject
                      - email_body
                      - wait_in_days
              required:
                - title
                - sequence_steps
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 14
        required: true
        schema:
          type: integer
  /api/campaigns/sequence-steps/{sequence_id}:
    put:
      summary: Update sequence steps (deprecated)
      operationId: updateSequenceStepsdeprecated
      description: This endpoint allows the authenticated user to update the campaign
        sequence steps.
      parameters: []
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: |-
                  {
                    "data": {
                        "id": 1,
                        "type": "Campaign sequence",
                        "title": "John Doe sequence",
                        "sequence_steps": [
                            {
                                "id": 1,
                                "email_subject": "Hello there! {FIRST_NAME}",
                                "order": 1,
                                "email_body": "Try it now!",
                                "wait_in_days": 1,
                                "variant": false,
                                "variant_from_step": null,
                                "attachments": null,
                                "thread_reply": false,
                                "created_at": "2025-04-14T16:59:21.000000Z",
                                "updated_at": "2025-05-18T12:53:32.000000Z"
                            },
                            {
                                "id": 2,
                                "email_subject": "Re: Hello there!",
                                "order": 2,
                                "email_body": "Try it now!",
                                "wait_in_days": 1,
                                "variant": true,
                                "variant_from_step": 1,
                                "attachments": null,
                                "thread_reply": true,
                                "created_at": "2025-04-14T16:59:21.000000Z",
                                "updated_at": "2025-05-18T12:53:32.000000Z"
                            }
                        ],
                     }
                  }
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title for the sequence.
                  example: John Doe sequence
                  nullable: false
                sequence_steps:
                  type: array
                  description: The array containing the sequence steps
                  example:
                    - id: 1
                      email_subject: Hello there!
                      email_subject_variables:
                        - "{FIRST_NAME}"
                      order: 1
                      email_body: Try it now!
                      wait_in_days: 1
                      variant: false
                      thread_reply: false
                    - id: 2
                      email_subject: Hello again!
                      order: 2
                      email_body: Try it now!
                      wait_in_days: 1
                      variant: true
                      variant_from_step: 1
                      thread_reply: true
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: The ID of the sequence step.
                        example: 1
                        nullable: false
                      email_subject:
                        type: string
                        description: The subject for the email.
                        example: Hello there!
                        nullable: false
                      email_subject_variables:
                        type: array
                        description: The subject variables.
                        example: null
                        items:
                          type: string
                          nullable: true
                      order:
                        type: integer
                        description: The order of the step.
                        example: 1
                        nullable: false
                      email_body:
                        type: string
                        description: The body of the email.
                        example: Try it now!
                        nullable: false
                      wait_in_days:
                        type: integer
                        description: The days to wait.
                        example: 1
                        nullable: false
                      variant:
                        type: boolean
                        description: Wheter the step is variant of another step.
                        example: true
                        nullable: true
                      variant_from_step_id:
                        type: integer
                        description: The <code>id</code> of an existing record in the sequence_steps
                          table.
                        example: 8
                        nullable: false
                      attachments:
                        type: string
                        format: binary
                        description: The email attachments.
                        nullable: true
                      thread_reply:
                        type: boolean
                        description: Wheter the step should be a reply from the previous step.
                        example: false
                        nullable: true
                      variant_from_step:
                        type: integer
                        description: Which step to be variant from (related by the id field).
                        example: 1
                        nullable: false
                    required:
                      - id
                      - email_subject
                      - order
                      - email_body
                      - wait_in_days
                      - variant_from_step_id
              required:
                - title
                - sequence_steps
    parameters:
      - in: path
        name: sequence_id
        description: The ID of the sequence. You can get this on the Campaign object.
        example: 4
        required: true
        schema:
          type: integer
  /api/campaigns/sequence-steps/{sequence_step_id}/activate-or-deactivate:
    patch:
      summary: Activate or deactivate a sequence step variant
      operationId: activateOrDeactivateASequenceStepVariant
      description: >-
        This endpoint allows the authenticated user to activate or deactivate a
        sequence step variant.


        You can get a list of sequence step IDs by making a request to
        `/campaigns/v1.1/{campaign_id}/sequence-steps`.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                    message: Sequence step variant successfully activated.
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Sequence step variant successfully activated.
      tags:
        - Campaigns
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: Whether the variant should be active.
                  example: true
                  nullable: false
    parameters:
      - in: path
        name: sequence_step_id
        description: The ID of the sequence step.
        example: 14
        required: true
        schema:
          type: integer
  /api/campaigns/sequence-steps/{sequence_step_id}:
    delete:
      summary: Delete sequence step
      operationId: deleteSequenceStep
      description: This endpoint allows the authenticated user to delete a specific
        sequence step from a sequence
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                    message: Sequence step successfully deleted
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Sequence step successfully deleted
      tags:
        - Campaigns
    parameters:
      - in: path
        name: sequence_step_id
        description: >-
          The ID of the sequence step. You can get a list of all campaign

          sequence steps by calling the `/campaigns/<campaignID>/sequence-steps`
          endpoint.
        example: 9
        required: true
        schema:
          type: integer
  /api/campaigns/sequence-steps/{sequence_step_id}/test-email:
    post:
      summary: Send sequence step test email
      operationId: sendSequenceStepTestEmail
      description: >-
        This endpoint allows the authenticated user to send a test email from a
        sequence step. You need at least

        one lead in the campaign to send a test email.
      parameters: []
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                    message: Sequence step successfully deleted
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Sequence step successfully deleted
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sender_email_id:
                  type: integer
                  description: The ID of the sender email to send from.
                  example: 3
                  nullable: false
                to_email:
                  type: string
                  description: The email address to send the sequence step to.
                  example: dach.lavinia@example.org
                  nullable: false
                use_dedicated_ips:
                  type: boolean
                  description: Send using the dedicated campaign IPs instead of the instance IP
                  example: true
                  nullable: false
              required:
                - sender_email_id
                - to_email
    parameters:
      - in: path
        name: sequence_step_id
        description: >-
          The ID of the sequence step. You can get a list of all campaign

          sequence steps by calling the `/campaigns/<campaignID>/sequence-steps`
          endpoint.
        example: 11
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/replies:
    get:
      summary: Get campaign replies
      operationId: getCampaignReplies
      description: This endpoint retrieves all replies associated with a campaign.
      parameters:
        - in: query
          name: search
          description: Search term for filtering replies.
          example: interested
          required: false
          schema:
            type: string
            description: Search term for filtering replies.
            example: interested
            nullable: true
        - in: query
          name: status
          description: Filter by status. One of `interested`, `automated_reply`,
            `not_automated_reply`.
          example: automated_reply
          required: false
          schema:
            type: string
            description: Filter by status. One of `interested`, `automated_reply`,
              `not_automated_reply`.
            example: automated_reply
            nullable: false
        - in: query
          name: folder
          description: Filter by folder. One of `inbox`, `sent`, `spam`, `bounced`, `all`.
          example: inbox
          required: false
          schema:
            type: string
            description: Filter by folder. One of `inbox`, `sent`, `spam`, `bounced`, `all`.
            example: inbox
            nullable: false
        - in: query
          name: read
          description: Filter by read status.
          example: true
          required: false
          schema:
            type: boolean
            description: Filter by read status.
            example: true
            nullable: true
        - in: query
          name: sender_email_id
          description: The ID of the sender email address.
          example: 243
          required: false
          schema:
            type: integer
            description: The ID of the sender email address.
            example: 243
            nullable: false
        - in: query
          name: lead_id
          description: The <code>id</code> of an existing record in the leads table.
          example: 13
          required: false
          schema:
            type: integer
            description: The <code>id</code> of an existing record in the leads table.
            example: 13
            nullable: false
        - in: query
          name: tag_ids
          description: Array of tag IDs to filter by.
          example:
            - 1
            - 2
            - 3
          required: false
          schema:
            type: array
            description: Array of tag IDs to filter by.
            example:
              - 1
              - 2
              - 3
            items:
              type: integer
        - in: query
          name: campaign_id
          description: The ID of the campaign.
          example: 12
          required: false
          schema:
            type: integer
            description: The ID of the campaign.
            example: 12
            nullable: false
      responses:
        "200":
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: >-
                  {
                      "data": [
                          {
                            "id": 45,
                            "uuid": "9f7a2718-aa56-43k2-a52b-a44dc183a621",
                            "folder": "Inbox",
                            "subject": "yo test boy wassup G",
                            "read": true,
                            "interested": false,
                            "automated_reply": false,
                            "html_body": "<div style=\"overflow: auto;\"><div dir=\"ltr\">yo whats good essssssey</div></div>",
                            "text_body": "yo whats good essssssey",
                            "raw_body": null,
                            "headers": null,
                            "date_received": "2024-09-21T02:10:42.000000Z",
                            "type": "Untracked Reply",
                            "tracked_reply": false,
                            "scheduled_email_id": null,
                            "campaign_id": 123,
                            "lead_id": null,
                            "sender_email_id": 25057,
                            "raw_message_id": "<CAHC2zCH-_M2e2PrRNr_DNWHd4WEC-94syh1UAvHc8yPHKxgsPA@mail.gmail.com>",
                            "from_name": "Cody Smith",
                            "from_email_address": "cody@emailguard.io",
                            "primary_to_email_address": "usysows3w88c6ljx@eguardtest.com",
                            "to": [
                                {
                                    "name": "Chimma Tester",
                                    "address": "usysows3w88c6ljx@eguardtest.com"
                                }
                            ],
                            "cc": null,
                            "bcc": null,
                            "parent_id": null,
                            "attachments": [
                                "id": 213,
                                "uuid": "9f7a2718-aa56-43k2-a52b-a44dc183a621",
                                "reply_id": 45,
                                "file_name": "image.png",
                                "download_url": "http://localhost/reply-attachments/9f2e5a48-5ed6-4021-ae32-66e61908173d/download%7D?signature=5374531e5a71a0c508b75678e53ea48e7d7dae22614bca3703c41cf199e21e67",
                                "created_at": "2025-06-18T02:38:40.000000Z",
                                "updated_at": "2025-06-18T02:38:40.000000Z"
                            ]
                         }
                      ]
                   }
      tags:
        - Campaigns
    parameters:
      - in: path
        name: campaign_id
        description: The ID of the campaign.
        example: 11
        required: true
        schema:
          type: integer
  /api/campaigns/{campaign_id}/leads:
    get:
      summary: Get all leads for campaign
      operationId: getAllLeadsForCampaign
      description: This endpoint retrieves all leads associated with a campaign.
      parameters:
        - in: query
          name: search
          description: Search term for filtering replies.
          example: interested
          required: false
          schema:
            type: string
            description: Search term for filtering replies.
            example: interested
            nullable: true
        - in: query
          name: filters
          description: ""
          example: []
          required: false
          schema:
            type: object
            description: ""
            example: []
            nullable: false
[...]
